@import 'src/styles';

:host {
  display: block;
  width: 100%;
  height: 90px;
  @media only screen and (max-width: 833px) {
    height: 70px;
  }
}

.header {
  width: 100%;
  min-width: 375px;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 44px;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  & > div {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  z-index: 100000;
}

/************ LOGOS ************/
.logos {
  float: left;
  a {
    text-decoration: none;
    transition: 0.5s;
  }
}

.aefe-logo {
  width: 98px;
  height: 70px;
  margin-left: 15px;
}

/************ LANGUAGES ************/
.languages {
  float: right;
  width: 34px;
  height: fit-content;
  position: relative;
  img.flag {
    cursor: pointer;
  }
  div {
    width: fit-content;
    min-width: 160px;
    background: white;
    padding: 6px 8px;
    position: absolute;
    bottom: -56%;
    right: 0;
    border-radius: 3px;
    border: 1px solid #fdfbff;
    box-shadow: 0 0 13px -2px rgba(214, 227, 255, 0.6);
    -webkit-box-shadow: 0 0 13px -2px rgba(214, 227, 255, 0.6);
    -moz-box-shadow: 0 0 13px -2px rgba(214, 227, 255, 0.6);
    ul {
      li {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;
        span {
          padding: 0 2px;
          @include textStyle_Georgian($font-size: 14px, $font-weight: 500, $line-height: 20px, $letter-spacing: 0.1px, $text-transform: capitalize);
        }
        img {
          margin-right: 6px;
        }
      }
    }
  }
}

/************ PRONOTE ************/
.pronote-container {
  float: right;
  padding: 0 16.5px;
  min-width: 125px;
}
.pronote {
  @include textStyle_Georgian(#c20000, 18px, 400, $line-height: 24px, $text-transform: uppercase);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    font-weight: 500;
    border-bottom-color: #c20000;
  }
}

/************ SEARCH ************/
.search {
  float: right;
  width: 116px;
  padding: 0 17.5px 0 18px;
  background: #c20000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  img {
    padding-top: 3px;
  }
  input {
    width: 100%;
    padding: 10px 0;
    @include textStyle_Georgian(#ffffff, 14px, 500, $line-height: 20px, $letter-spacing: 0.1px, $text-transform: none);
    &::placeholder {
      text-transform: uppercase;
    }
  }
}
.search-shrink {
  @extend .search;

  input {
    &::placeholder {
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}
.search-expand {
  @extend .search;

  width: 432px;
  padding-right: 30px;
  display: flex;
  flex-direction: row-reverse;
  cursor: context-menu;
  img {
    cursor: pointer;
  }
  input {
    cursor: text;
    &::placeholder {
      color: #ffffff80;
      text-transform: capitalize;
    }
  }
}
.search-close {
  display: none;
}

/************ MENU ************/
.menu {
  float: right;
  width: fit-content;
  background: #003064;
  color: #ffffff;
  transition: 0.5s;
  position: relative;
  & > div {
    height: inherit;
    padding: 0 20.185px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      @include textStyle_Georgian(#ffffff, 14px, 500, $line-height: 20px, $letter-spacing: 0.1px, $text-transform: uppercase);
    }
  }
  nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 428px;
    min-width: 280px;
    height: calc(100vh - 90px);
    padding: 58px 42px 58px 58px;
    background: #003064;
    overflow-y: auto;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    &:not(&:last-of-type) {
      margin-bottom: 47px; /* -14px from list item padding bottom (for border) */
    }

    /* list item */
    & > div {
      width: 100%;
      padding-bottom: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      cursor: pointer;
      span {
        @include textStyle(#d4e3ff, 28px, 400, $line-height: 36px, $letter-spacing: 1.5px, $text-transform: uppercase);
        transition: 0.5s;
      }
      img {
        margin-left: 20px;
      }
    }

    /* sub-list item */
    a {
      @include textStyle(#d4e3ff, 24px, 400, $line-height: 36px, $letter-spacing: 1.5px, $text-transform: capitalize);
      margin: 26px 0 0 20px;
      transition: 0.5s;
      &:hover {
        color: #c20000;
      }
    }
  }
}
.removable-menu-items {
  display: none;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  margin-bottom: 45px;
  & > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 9px 0;
  }
  .menu-pronote {
    @include textStyle(#c20000, 24.2069px, 400, $line-height: 32px, $text-transform: uppercase);
    cursor: pointer;
    &:hover {
      font-weight: 500;
    }
  }
  .pronote-content {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    a {
      @include textStyle(#d6e3ff, 18px, 400, $line-height: 24px, $letter-spacing: 1.5px, $text-transform: uppercase);
      &:first-of-type {
        padding-right: 6px;
      }
    }
  }
}

.nav-link-active {
  color: #c20000 !important;
}

.border-bottom {
  border-bottom: 1px solid #d4e3ff;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0.5em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d6e3ff70;
    outline: 1px solid slategrey;
  }
}

/************************** RESPONSIVE **************************/
@media only screen and (max-width: 1921px) {
}

@media only screen and (max-width: 1080px) {
  .header {
    padding-left: 16px;
  }
  .search-expand {
    width: 280px;
    padding-right: 18px;
  }
  .logos {
    .school-logo {
      width: 150px;
      height: 49px; /* width/height ratio = 3.0612 */
    }
    .aefe-logo {
      width: 75px;
      height: 53.57px; /* width/height ratio = 1.4 */
    }
  }
}

/* Medium devices */
@media only screen and (max-width: 833px) {
  .header {
    height: 70px;
    & > div {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav {
      height: calc(100vh - 70px);
    }
    /* move language & proNote from header to menu */
    .languages,
    .pronote-container {
      display: none;
    }
    .removable-menu-items {
      display: flex;
      .languages {
        display: flex;
      }
    }
  }

  .logos {
    .school-logo {
      width: 109.25px;
      height: 35.8px;
    }
    .aefe-logo {
      width: 52.66px;
      height: 38px;
    }
  }

  .search-expand {
    width: 280px;
    padding-right: 30px;
  }
}

/* Small Devices */
@media only screen and (max-width: 600px) {
  .header {
    nav {
      width: 100vw;
      padding: 30px;
      .nav-item {
        &:not(&:last-of-type) {
          margin-bottom: 36px;
        }
      }
    }
  }

  .menu > div {
    padding: 0 29px;
    & > img.menu-icon {
      margin: 0;
    }
  }

  .search-shrink {
    width: 82px;
    input {
      display: none;
    }
  }

  .search-expand {
    width: 82px;
    padding: 0;
    position: relative;
    img {
      cursor: pointer;
    }
    input {
      position: absolute;
      top: 100%;
      right: -82px;
      height: 70px;
      width: 100vw;
      padding: 0 45px 0 20px;
      background: #c20000;
      cursor: text;
      &::placeholder {
        color: #ffffff80;
        text-transform: capitalize;
      }
    }
    .search-close {
      display: block;
      position: absolute;
      bottom: -60px;
      right: -80px;
      z-index: 20;
      transform: translate(-50%, -50%);
    }
  }

  /* remove 'menu' and keep only icon */
  .menu-title {
    display: none;
  }
}

/* Extra small devices */
@media only screen and (max-width: 374px) {
  .header {
    padding-left: 10px;

    nav {
      padding: 30px 20px;

      .nav-item {
        /* list item */
        & > div {
          span {
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1px;
          }
          img {
            margin-left: 10px;
          }
        }

        /* sub-list item */
        a {
          color: #d4e3ff;
          font-size: 24px;
          letter-spacing: 1px;
          margin: 20px 0 0 6px;
        }
      }
    }
  }

  .aefe-logo {
    display: none;
  }

  .menu > div {
    padding: 0 20px;
  }

  .search-shrink {
    width: 64px;
  }

  .search-expand {
    width: 64px;
    position: relative;
    input {
      min-width: 280px;
      position: absolute;
      top: 100%;
      right: -64px;
      padding: 0 45px 0 10px;
    }
    .search-close {
      display: block;
      position: absolute;
      bottom: -60px;
      right: -70px;
    }
  }
}
