<div class="school-levels">
  <div class="school-levels__container">
    <ul class="school-levels__list">
      <li class="school-levels__item list">
        <ul class="list__list">
          <li class="list__item list__item_preschool">
            <p class="list__text">{{ 'menu.PRESCHOOL' | translate }}</p>
          </li>
          <li class="list__item list__item_primary">
            <p class="list__text">{{ 'menu.PRIMARY' | translate }}</p>
          </li>
        </ul>
      </li>
      <li class="school-levels__item list">
        <ul class="list__list">
          <li class="list__item list__item_middle">
            <p class="list__text">{{ 'menu.MIDDLE_SCHOOL' | translate }}</p>
          </li>
          <li class="list__item list__item_high">
            <p class="list__text">{{ 'menu.HIGH_SCHOOL' | translate }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
