$black: #000000;
$white: #ffffff;

$primary1: #001b3d;
$primary2: #003063;
$primary3: #00468c;
$primary4: #285ea7;
$primary5: #4677c2;
$primary6: #6191dd;
$primary7: #7dacfa;
$primary8: #a9c7ff;
$primary9: #d6e3ff;
$primary10: #ecf0ff;
$primary11: #fdfbff;

$secondary1: #410000;
$secondary2: #690000;
$secondary3: #930000;
$secondary4: #c00000;
$secondary5: #e6281a;
$secondary6: #ff5541;
$secondary7: #ff8a78;
$secondary8: #ffb4a8;
$secondary9: #ffdad4;
$secondary10: #ffedea;
$secondary11: #fffbff;

$tertiary1: #290055;
$tertiary2: #440087;
$tertiary3: #6100bd;
$tertiary4: #7d23e5;
$tertiary5: #9748ff;
$tertiary6: #ac72ff;
$tertiary7: #c297ff;
$tertiary8: #d7baff;
$tertiary9: #eddcff;
$tertiary10: #f8edff;
$tertiary11: #fffbff;

$error1: #410002;
$error2: #690005;
$error3: #93000a;
$error4: #ba1a1a;
$error5: #de3730;
$error6: #ff5449;
$error7: #ff897d;
$error8: #ffb4ab;
$error9: #ffdad6;
$error10: #ffedea;
$error11: #fffbff;

$neutral1: #001f24;
$neutral2: #00363d;
$neutral3: #004f58;
$neutral4: #006874;
$neutral5: #008391;
$neutral6: #00a0b0;
$neutral7: #22bccf;
$neutral8: #4fd8eb;
$neutral9: #97f0ff;
$neutral10: #d0f8ff;
$neutral11: #f6feff;

$neutral-variant1: #181c22;
$neutral-variant2: #2d3038;
$neutral-variant3: #44474e;
$neutral-variant4: #5b5e66;
$neutral-variant5: #74777f;
$neutral-variant6: #8e9099;
$neutral-variant7: #a8abb4;
$neutral-variant8: #c4c6cf;
$neutral-variant9: #e0e2ec;
$neutral-variant10: #eef0fa;
$neutral-variant11: #fdfbff;
