<div class="statistics-and-media">
  <div class="statistics-and-media__container">
    <div class="statistics">
      <ul class="statistics__list">
        <li class="statistics__item students">
          <p class="statistics__figure students__figure">700+</p>
          <p class="statistics__text students__text">{{ 'menu.STUDENTS' | translate }}</p>
        </li>
        <li class="statistics__item activities">
          <div class="activities__box"></div>
          <p class="statistics__figure activities__figure">40</p>
          <p class="statistics__text activities__text">{{ 'menu.ACTIVITIES' | translate }}</p>
        </li>
        <li class="statistics__item countries">
          <p class="statistics__figure countries__figure">65</p>
          <p class="statistics__text countries__text">{{ 'menu.COUNTRIES' | translate }}</p>
        </li>
        <li class="statistics__item languages">
          <p class="statistics__figure languages__figure">5</p>
          <p class="statistics__text languages__text">{{ 'menu.LANGUAGES' | translate }}</p>
        </li>
      </ul>
    </div>
    <div class="media">
      <div class="statistics__header">
        <h3 class="statistics__header__text">
          {{ 'menu.STATISTICS_AND' | translate }}<br />
          <span class="media__span__text">{{ 'menu.MEDIA' | translate }}</span>
        </h3>
      </div>
      <ul class="media__list">
        <li class="media__item youtube">
          <a href="#" class="media__text youtube__text">{{ 'menu.YOUTUBE' | translate }}</a>
        </li>
        <li class="media__item radio">
          <a href="#" class="media__text radio__text">{{ 'menu.RADIO' | translate }}</a>
        </li>
        <li class="media__item el-books">
          <a href="#" class="media__text el-books__text">{{ 'menu.EL_BOOKS' | translate }}</a>
        </li>
        <li class="media__item media-library">
          <a href="#" class="media__text media-library__text">{{ 'menu.MEDIA_LIBRARY' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
