<footer class="footer">
  <div class="footer__container">
    <div class="footer__social-media social-media">
      <ul class="social-media__list">
        <li class="social-media__item">
          <a href="#" class="social-media__link"><img src="./assets/icons/facebook.png" alt="Facebook Logo" class="social-media__logo" /></a>
        </li>
        <li class="social-media__item">
          <a href="#" class="social-media__link"><img src="./assets/icons/instagram.png" alt="Instagram Logo" class="social-media__logo" /></a>
        </li>
        <li class="social-media__item">
          <a href="#" class="social-media__link"><img src="./assets/icons/twitter.png" alt="Twitter Logo" class="social-media__logo" /></a>
        </li>
        <li class="social-media__item">
          <a href="#" class="social-media__link"><img src="./assets/icons/youtube.png" alt="Youtube Logo" class="social-media__logo" /></a>
        </li>
      </ul>
    </div>
    <div class="footer__info info">
      <div class="info__admin admin">
        <ul class="admin__list">
          <li class="admin__item">
            <h3 class="admin__title">HEAD MASTER</h3>
            <p class="admin__identity">Kamel Yassili</p>
            <div class="admin__telephone">
              <div class="admin__telephone__icon">
                <img src="./assets/icons/telephone.png" alt="Telephone Icon" />
              </div>
              <p class="admin__telephone__text">+ (995 322) 29 47 72</p>
            </div>
            <div class="admin__email">
              <div class="admin__email__icon">
                <img src="./assets/icons/email.png" alt="Email Icon" />
              </div>
              <p class="admin__email__text">secretariat@efc.edu.ge</p>
            </div>
          </li>
          <li class="admin__item">
            <h3 class="admin__title">ADMINISTRATION</h3>
            <p class="admin__identity">Tamar Lomidze</p>
            <div class="admin__telephone">
              <div class="admin__telephone__icon">
                <img src="./assets/icons/telephone.png" alt="Telephone Icon" />
              </div>
              <p class="admin__telephone__text">+ (995 322) 29 47 72</p>
            </div>
            <div class="admin__email">
              <div class="admin__email__icon">
                <img src="./assets/icons/email.png" alt="Email Icon" />
              </div>
              <p class="admin__email__text">secretariat@efc.edu.ge</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="info__school-office school-office">
        <h3 class="school-office__title">SCHOOL OFFICE</h3>
        <div class="school-office__telephone">
          <div class="school-office__telephone__icon">
            <img src="./assets/icons/telephone.png" alt="Telephone Icon" />
          </div>
          <p class="school-office__telephone__text">+ (995 322) 29 47 72</p>
        </div>
        <div class="school-office__email">
          <div class="school-office__email__icon">
            <img src="./assets/icons/email.png" alt="Email Icon" />
          </div>
          <p class="school-office__email__text">secretariat@efc.edu.ge</p>
        </div>
      </div>
      <div class="info__logos logos">
        <ul class="logos__list">
          <li class="logos__item">
            <img src="./assets/icons/aefe.png" alt="Agency for French Teaching Abroad" />
          </li>
          <li class="logos__item">
            <img src="./assets/icons/ambassade-de-france.png" alt="Ambassadress of France" />
          </li>
          <li class="logos__item">
            <img src="./assets/icons/institut-francais.png" alt="French Institute" />
          </li>
        </ul>
      </div>
      <div class="info__map map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.492013887327!2d44.75537565121228!3d41.70990077913406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447332355abe2f%3A0x6cbb9dc3fcb3b194!2sIlia%20Chavchavadze%20Avenue%2C%20T&#39;bilisi!5e0!3m2!1sen!2sge!4v1669489566226!5m2!1sen!2sge"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</footer>
