<div class="home-container">
  <section class="bg-video">
    <app-video-introduction></app-video-introduction>
  </section>
  <section class="news-and-articles">
    <app-home-news-and-articles></app-home-news-and-articles>
  </section>
  <section class="school-levels">
    <app-school-levels></app-school-levels>
  </section>
  <section class="statistics-and-media">
    <app-statistics-and-media></app-statistics-and-media>
  </section>
  <section class="alumni-stories">
    <app-student-stories-carousel></app-student-stories-carousel>
  </section>
  <section class="admission">
    <app-admission-and-contact></app-admission-and-contact>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</div>
