<app-content-wrapper [includeSummary]="true" [subSections]="subSections" [bgImgUrl]="'../../../../assets/images/about-header-bg.png'">
  <h2 title>ABOUT EFC</h2>
  <div summary>
    <p>The French school of Caucasus was created in 2006 by the French embassy.</p>
    <br />
    <p>
      Since September 2010, the school is located downtown/in the city center, alongside Vake park. Its building was designed respecting the norms for
      security, hygiene, pedagogical organization, and sustainable development standards.
    </p>
    <br />
    <p>The French school of Caucasus promotes the European values of respect, solidarity and excellence for all.</p>
  </div>
  <div content>
    <app-section scrollSection="t1" class="margin-bottom">
      <h4 sectionTitle>Principal’s address</h4>
      <div sectionContent>
        <p>Dear students and families of the French school of the Caucasus,</p>
        <br />
        <p>
          After a significantly hard year 2020 for all of you as students and parents, I wish, and on behalf of the whole teaching staff, that this
          new academic year will be the occasion for you to fully experience the great pedagogical and educational opportunities provided by our
          school.
        </p>
        <br />
        <p>
          Rest assure that the FSC will always aspire to excellency for our students and push forward the individual and collective values
          characteristic of the French Schools abroad. Besides our school projects, we intend to join the initiatives of the French schools network
          such as: ZECO sports league, the ADN Carbone Zero programme, the Budding Ambassadors, the virtual education fairs of AGORA Monde
          AEFE-Studyrama, the International Youth Games, and the Orchestra of the French High Schools
        </p>
        <br />
        <p>
          Facing the Covid-19 pandemic, your respective commitments, those of the teachers, of the technical and administrative staff, of the French
          embassy, of our associative partners and of the Georgian authorities, have allowed the French school of the Caucasus to remain an academic
          exception in Tbilisi. The work accomplished has been decisive in achieving our main mission: the transmission of knowledge to our youth.
          Facing this major health crisis, you have undoubtedly been united in this dialog.
        </p>
        <br />
        <p>
          Nevertheless, the health situation remains uncertain. Thus, the FSC will keep meeting the needs of our students. The education that we
          provide will aim to be efficient and of high quality. Studying at the French school of the Caucasus will keep being an exciting experience.
        </p>
        <br />
        <p>I wish you an excellent start of the new school year.</p>
        <br />
        <p style="font-size: 22px; line-height: 28px">Kamel YASSILI</p>
        <p style="font-size: 22px; line-height: 28px">Headmaster of the FSC Tbilissi</p>
      </div>
    </app-section>
    <app-section scrollSection="t2" class="margin-bottom">
      <h4 sectionTitle>History and mission</h4>
      <div sectionContent>
        <p>
          French teaching establishments abroad have an international reputation for the quality of their education. They form a unique network
          through their scale and their unity.
        </p>
        <br />
        <p>
          Made up of schools with different legal statuses, this network is supported by the French Government that guarantees its quality. Since
          1990, the network has been coordinated and followed up by the Agency for French Education Abroad (AEFE), a national public agency under the
          administration of the French Ministry of Foreign Affairs.
        </p>
        <br />
        <p>This model is based both on high academic standards and on a constant focus on pupils’ development and well-being.</p>
        <br />
        <p>
          Welcomed from a very young age by teams trained in a cross-cultural and multilingual approach, children educated in French teaching
          establishments abroad follow an educational pathway that takes talent and merit to the highest possible level, while supporting each pupil
          with their individual requirements.
        </p>
        <br />
        <p>
          Beyond language, French teaching establishments share a resolutely humanist approach that promotes cultural diversity and mutual enrichment.
          In this exceptional learning environment, your child will gradually develop all their academic, social and personal skills, opening the
          doors to the very best higher education establishments in France and abroad.
        </p>
      </div>
    </app-section>
    <app-section scrollSection="t3" class="margin-bottom">
      <h4 sectionTitle>Teaching methods</h4>
      <div sectionContent>
        <h5 class="section-sub-title">A teaching method for the future</h5>
        <br />
        <p>
          The French school of Caucasus gives each child the opportunity to start learning french naturally at the age of 3 while socializing. From
          the age of 6, students start learning English. And at 14, another language is offered ( spanish, german…). For Georgian students, their
          native language is taught throughout the entire curriculum.
        </p>
        <br />

        <h5 class="section-sub-title">Efficient teaching methods</h5>
        <br />
        <p>
          In pre-school and the elementary school, the French curriculum is designed to articulate the education process in five main fields of
          activities: language, discovery of the world, socialization, body expression and creativity. In secondary school, the emphasis is put on
          methodology and the work rhythm. In high school, the focus is on the knowledge and social skills necessary for students to obtain the French
          baccalaureate.
        </p>
        <br />

        <h5 class="section-sub-title">A dynamic, skilled and motivated teaching community</h5>
        <br />
        <p>
          An international and multidisciplinary team of certified teachers aiming to contribute to the success of each student. A pedagogic support
          that guarantees access to personalized monitoring for every student. An attentive administration keen to ensure the continuous improvement
          of the services it offers. Parents dedicated to the success of their child and the reputation of the school.
        </p>
        <br />

        <h5 class="section-sub-title">High-level facilities and a stimulating environment</h5>
        <br />
        <p>
          The French school of Caucasus has been designed to allow students to work in optimum conditions: On the basement floor : a swimming pool, a
          gym, and an auditorium; On the ground floor: the cafeteria, the preschool class rooms; on the first floor: the administration, the school
          office, and the nurse’s office; on the second floor, the primary school class rooms, the school library; on the third floor, the secondary
          school class rooms, including specialised rooms (computer room, sciences, music, fine arts…); on the fourth floor, the high school class
          rooms.
        </p>
        <br />

        <h5 class="section-sub-title">A school open to Georgia, Europe and to the world.</h5>
        <br />
        <p>
          The French school of Caucasus is a member of the international network of the Agency for French teaching abroad (Agence de l’enseignement
          français à l’étranger, AEFE). Gathering 500+ structures across the world, this organization allows the mobility of students throughout their
          entire education. It guarantees the quality of the education and the compliance to academic standards. The French school’s ambition is to
          give each of its students the opportunity to enroll in the best university in Georgia, in France, in Europe or anywhere in the world.
        </p>
        <br />
      </div>
    </app-section>
  </div>
</app-content-wrapper>
